SECRET_KEY=cambia-esto-por-una-clave-secreta-de-al-menos-50-caracteres
DEBUG=False
DB_NAME=estacionamiento
DB_USER=estacionamiento_user
DB_PASSWORD=CambiaEstaContrasenaSegura2026
DB_PORT=5432
ALLOWED_HOSTS=estacionamiento-api.albertoknow.com
QR_ENTRY_TOKEN_LIFETIME_SECONDS=300
QR_SESSION_TOKEN_LIFETIME_SECONDS=86400

# Generar con: python -c "from cryptography.hazmat.primitives.asymmetric import rsa; from cryptography.hazmat.primitives import serialization; k=rsa.generate_private_key(65537,2048); print(k.private_bytes(serialization.Encoding.PEM,serialization.PrivateFormat.PKCS8,serialization.NoEncryption()).decode())"
QR_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----

# Generar con: python -c "from cryptography.hazmat.primitives.asymmetric import rsa; from cryptography.hazmat.primitives import serialization; k=rsa.generate_private_key(65537,2048); print(k.public_key().public_bytes(serialization.Encoding.PEM,serialization.PublicFormat.SubjectPublicKeyInfo).decode())"
QR_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----

# URL publica del backend — usada por el browser del usuario
NEXT_PUBLIC_API_URL=https://estacionamiento-api.albertoknow.com/api/v1
